/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: cover 99.5%
*/

/* -------- Base style -------- */
:root {
  --primary-color-text: #000;
  --main-color-bg: #fff;
  --vh: 100vh;
}

.no-click {
  pointer-events: none;
}

.is-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.page.nav-light {
  --nav-theme: #fff;
}

.page {
  --nav-theme: #000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--primary-color-text);
  background-color: var(--main-color-bg);
  overflow-x: hidden;
}

a {
  color: inherit;
}

.w--current:not(.header__logo, .layout__list-item, .footer a) {
  pointer-events: none;
  opacity: 0.3;
}

/* -------- >Base style -------- */

/* -------- Locomotive scroll fixed back scroll -------- */

html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* -------- >Locomotive scroll fixed back scroll -------- */

/* -------- link styles -------- */

.is-underline__link,
.is-underline__link-ico .text-link {
  position: relative;
}

.is-underline__link::before,
.is-underline__link-ico .text-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease,
    -moz-transform 0.3s ease, -o-transform 0.3s ease;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}

.is-underline__link:hover::before,
.is-underline__link-ico:hover .text-link::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
.form-submit {
  color: inherit;
}

a.gender-text.w--current {
  opacity: 1;
  position: relative;
}

a.gender-text.w--current::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.footer__form-caption a.is-link {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__form-caption a.is-link:hover {
  color: rgba(0, 0, 0, 1);
}

/* -------- >Footer -------- */

/* -------- Lazy load -------- */
.c-lazy img {
  -webkit-filter: blur(2em);
  filter: blur(2em);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.6s ease, -webkit-filter 0.3s ease;
  transition: -webkit-transform 0.6s ease, -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease, -o-transform 0.6s ease;
  -moz-transition: transform 0.6s ease, filter 0.3s ease,
    -moz-transform 0.6s ease;
  transition: transform 0.6s ease, filter 0.3s ease;
  transition: transform 0.6s ease, filter 0.3s ease, -webkit-transform 0.6s ease,
    -moz-transform 0.6s ease, -o-transform 0.6s ease, -webkit-filter 0.3s ease;
}

.c-lazy.-lazy-loaded img {
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* -------- >Lazy load -------- */

/* -------- Header -------- */
.header {
  pointer-events: none;
}

.header a,
.header__menu {
  pointer-events: all;
}

.header__menu-line {
  background-color: var(--nav-theme);
}

.header {
  color: var(--nav-theme);
}

.header__store {
  position: relative;
}
.header__store:hover::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.header__store::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
}

.header__store::before {
  content: "";
  position: absolute;
  border: solid 1px var(--nav-theme);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: opacity 0.3s ease, -o-transform 0.3s ease;
  -moz-transition: transform 0.3s ease, opacity 0.3s ease,
    -moz-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease,
    -webkit-transform 0.3s ease, -moz-transform 0.3s ease,
    -o-transform 0.3s ease;
}

/* -------- >Header -------- */

/* -------- Button -------- */
.c-button::before {
  content: "";
  position: absolute;
  width: 100%;
  inset: 0;
  height: 100%;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  -moz-transition: transform 0.4s ease, -moz-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease,
    -moz-transform 0.4s ease, -o-transform 0.4s ease;
  background-color: #000;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  z-index: 1;
}
.c-button:hover::before {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
}

.career__btn-wrapper {
  pointer-events: none;
}

.c-button {
  pointer-events: all;
}
/* -------- >Button -------- */

/* -------- Card edutorial -------- */

.layout__list-item {
  position: relative;
}

.layout__list-item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.layout__list-item:hover::before,
.is-active .layout__list-item::before {
  opacity: 1;
}
.layout__title-mask span {
  display: block;
}

.layout__title-mask span {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease,
    -moz-transform 0.3s ease, -o-transform 0.3s ease;
}

.layout__title-mask span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  background-color: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease,
    -moz-transform 0.3s ease, -o-transform 0.3s ease;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}

.layout__list-item:hover .layout__title-mask span,
.is-active .layout__title-mask span {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.layout__list-item:hover .layout__title-mask span::before,
.is-active .layout__title-mask span::before {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

/* -------- >Card edutorial -------- */

/* -------- FAQ accordion -------- */

.faq__list-item.is-open .faq__list-content {
  height: auto;
}

.faq__list-item.is-open .faq__header-ico {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* -------- >FAQ accordion -------- */

/* -------- Nav -------- */

.is-ready .base.menu-open .nav {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.nav__page-other a {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.nav__page-other a:hover {
  color: rgba(0, 0, 0, 1);
}

.gender__menu-wrapper {
  color: var(--nav-theme);
  pointer-events: none;
}
.gender__menu-wrapper a {
  pointer-events: all;
}

.nav__gender-link.w--current,
.nav__gender-link._w--current {
  pointer-events: all;
  opacity: 1 !important;
  color: #000;
  border-bottom-color: #000;
}

.nav__store-locator::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  background-color: #000;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  -moz-transition: transform 0.4s ease, -moz-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease,
    -moz-transform 0.4s ease, -o-transform 0.4s ease;
}
.nav__store-locator:hover::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}

@media screen and (max-width: 767px) {
  [data-lang="en"] .is-en {
    display: none;
  }

  [data-lang="ru"] .is-ru {
    display: none;
  }
}

/* -------- >Nav -------- */

/* -------- Edu About -------- */

.edutorial-popup.is-open .edutorial-about {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.edutorial-popup.is-open .edutorial__hero-button {
  color: #000;
}

.edutorial-popup.is-open .edutorial__hero-button .edutorial__ico {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.edutorial__hero-button::before {
  content: "";
  position: absolute;
  width: -webkit-calc(50rem / 16);
  width: -moz-calc(50rem / 16);
  width: calc(50rem / 16);
  height: -webkit-calc(50rem / 16);
  height: -moz-calc(50rem / 16);
  height: calc(50rem / 16);
  border: 1px solid currentColor;
  -webkit-border-radius: -webkit-calc(100rem / 16);
  -moz-border-radius: -moz-calc(100rem / 16);
  border-radius: calc(100rem / 16);
  -webkit-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.edutorial__hero-button.is-about::before {
  right: -1px;
}

.edutorial__hero-button.is-scroll::before {
  left: -1px;
}

.edutorial__hero-button:hover::before {
  width: 100%;
}

.edutorial__hero {
  height: var(--vh);
}
/* -------- >Edu About -------- */

/* -------- Store locator -------- */
.store__collection {
  overflow-x: hidden;
}

.store__body {
  overflow-x: hidden;
}

.store__station-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 18px;
}

.store__station-item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #1f6eb6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0;
}

.store__station-item:not(:last-child):after {
  content: "/";
  margin-left: 8px;
  opacity: 0.3;
}
/* -------- Store locator -------- */

.popup-store.is-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: storeOpen 0.6s ease forwards alternate;
  -moz-animation: storeOpen 0.6s ease forwards alternate;
  -o-animation: storeOpen 0.6s ease forwards alternate;
  animation: storeOpen 0.6s ease forwards alternate;
}

@-webkit-keyframes storeOpen {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-moz-keyframes storeOpen {
  0% {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-o-keyframes storeOpen {
  0% {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes storeOpen {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.store__body {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

#map {
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  filter: grayscale(100%);
}
[data-module-split].text-ident {
  text-indent: 0;
}

[data-module-split].text-ident .word:first-child .char:first-child {
  text-indent: 4.33em;
}

[data-page="prelaunch"] .base {
  color: #fff;
  background-color: #000;
}

/* -------- Store locator scrolbar -------- */

.ps__thumb-y,
.ps__rail-y {
  position: absolute;
}
.ps__rail-y {
  width: 0.5rem;
  left: auto !important;
  right: 0 !important;
}
.ps__thumb-y {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  border-radius: 100vw;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.ps--scrolling-y .ps__thumb-y {
  opacity: 1;
}

.store-locator__list-item:first-child {
  padding-top: 0;
}

/* -------- >Store locator scrolbar -------- */

/* Mob menu */

@media screen and (max-width: 767px) {
  .base.menu-open .header {
    --nav-theme: #000;
  }

  .base .header__logo {
    -webkit-transform-origin: left 6%;
    -moz-transform-origin: left 6%;
    -ms-transform-origin: left 6%;
    -o-transform-origin: left 6%;
    transform-origin: left 6%;
  }

  .base.menu-open .header__logo {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
  }
}

.layout__list-item:first-child,
.gender-menu,
.edutorial__hero,
.edu-image__mask.u-100vh {
  height: var(--vh);
}
/* -------- >Mob menu -------- */

/* -------- Mob menu burger anim -------- */
@media screen and (max-width: 767px) {
  .menu-open .header__menu .header__menu-line.is1 {
    -webkit-transform: translate(0rem) rotate(45deg);
    -moz-transform: translate(0rem) rotate(45deg);
    -ms-transform: translate(0rem) rotate(45deg);
    -o-transform: translate(0rem) rotate(45deg);
    transform: translate(0rem) rotate(45deg);
  }

  .menu-open .header__menu .header__menu-line.is2 {
    opacity: 0;
  }

  .menu-open .header__menu .header__menu-line.is3 {
    -webkit-transform: translate(0rem) rotate(-45deg);
    -moz-transform: translate(0rem) rotate(-45deg);
    -ms-transform: translate(0rem) rotate(-45deg);
    -o-transform: translate(0rem) rotate(-45deg);
    transform: translate(0rem) rotate(-45deg);
  }
}
/* -------- >Mob menu burger anim -------- */
